.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 2.7), 0);
}

.layer-bottom {
  background-image: url('/assets/room-bottom.webp');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

@media screen and (max-width: 965px) {
  .video {
    width: auto;
    transform: translateX(-250px);
  }
}

@media screen and (max-width: 561px) {
  .video {
    transform: translateX(-450px);
  }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
  .video {
    transform: translateX(-250px);
  }
}

/* Landscape orientation for tablets and mobile devices */
@media screen and (orientation: landscape) and (max-height: 600px) {
  .video {
    width: 100%;
    transform: translate3d(0, calc(var(--scrollTop) / 2.7), 0);
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
  .video {
    width: 100%;
    transform: translate3d(0, calc(var(--scrollTop) / 2.7), 0);
  }
}