.site-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--bca-gradient);
  color: var(--white);
  font-size: 1.2em;
  line-height: 1.5;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .logo-image {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    .logo-text-heading {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.2;
      color: var(--white);
    }

    .logo-text {
      font-size: 1em;
      font-weight: normal;
      line-height: 1.2;
      color: var(--light);
    }
  }

  .site-navigation {
    .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .nav-item {
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5;
        color: var(--white);
        margin: 0 10px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
}