.lyricsButton {
  background: var(--white-70);
  border: none;
  color: var(--white);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .lyricsButton:hover {
    color: var(--white);
    background: var(--white-90);
    transform: scale(1.1);
  }

  .lyricsButton.active:hover {
    background: var(--white-90);
    color: var(--white);
  }
}

.lyricsButton:focus,
.lyricsButton:active {
  color: var(--white);
  background: var(--white-20);
  transform: scale(1.1);
}

.lyricsButton.active {
  background: var(--white-20);
  color: var(--white);
}

.lyricsButton.active:focus,
.lyricsButton.active:active {
  background: var(--white-30);
  color: var(--white);
}

.icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}

.disabled {
  background: var(--white-20) !important;
  color: var(--white-50) !important;
  cursor: not-allowed !important;
  opacity: 0.5;
}

.disabled:hover {
  background: var(--white-20) !important;
  color: var(--white-50) !important;
  transform: none !important;
}

.disabledIcon {
  opacity: 0.5;
  filter: grayscale(100%);
}

@media screen and (max-width: 919px) {
  .lyricsButton {
    padding: 9px;
  }
}