.lyricsButton {
  background: var(--white-70);
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .lyricsButton:hover {
    background: var(--white-90);
    transform: scale(1.1);
  }

  .lyricsButton.active:hover {
    background: var(--white-90);
  }
}

.lyricsButton:focus,
.lyricsButton:active {
  background: var(--white-20);
  transform: scale(1.1);
}

.lyricsButton.active {
  background: var(--white-20);
}

.lyricsButton.active:focus,
.lyricsButton.active:active {
  background: var(--white-30);
}

.icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}

.disabled {
  background: var(--white-20);
  color: var(--white-50);
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:hover {
  background: var(--white-20);
  color: var(--white-50);
  transform: none;
}

.disabledIcon {
  opacity: 0.5;
  filter: grayscale(100%);
}

@media screen and (max-width: 919px) {
  .lyricsButton {
    padding: 9px;
  }
}