.lyricsButton {
  background: var(--white-10);
  border: none;
  color: var(--white);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lyricsButton:hover {
  color: var(--white);
  background: var(--white-20);
  transform: scale(1.1);
}

.lyricsButton.active {
  background: var(--white-20);
  color: var(--white);
}

.lyricsButton.active:hover {
  background: var(--white-30);
  color: var(--white);
}

.icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
  .lyricsButton {
    padding: 6px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}