.site-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--bca-gradient);
  color: var(--white);
  font-size: 1.2em;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;

  .header-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    max-width: 100%;
  }

  .logo {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    gap: 10px;

    .logo-text-heading {
      font-size: xx-large;
      font-weight: bold;
      line-height: 1.2;
      color: var(--white);
    }

    .logo-text {
      font-size: 1em;
      font-weight: normal;
      line-height: 1.2;
      color: var(--light);
    }
  }

  .site-navigation {
    .nav-list {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      -webkit-align-items: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      .nav-item {
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5;
        color: var(--white);
        margin: 0 10px;
        cursor: pointer;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
          color: var(--secondary-color);
          -webkit-transition: transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }
}

.header-container h1 {
  font-size: xx-large;
}

@media screen and (max-device-width: 768px) {
  .header-container h1 {
    font-size: x-large;
  }

  .logo-text {
    display: none;
  }

  .site-navigation {
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/assets/background-2.webp');
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    height: 100vh;

    &.active {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .site-header .site-navigation .nav-list {
    gap: 20px;
    text-align: center;
    font-size: xx-large;
    -webkit-flex-direction: column;
    flex-direction: column;

    .nav-item {
      margin: 0;
    }
  }
}