.about {
  height: 100vh;
  overflow: hidden;
}

.hero {
  display: flex;
  height: 100vh;
  position: relative;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    height: 50vh;
  }
}