.about {
  height: 100vh;
  overflow: hidden;
}

.hero {
  display: flex;
  height: 100vh;
  position: relative;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.mainImage {
  object-position: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}