.social-media-button {
  width: auto;
  height: 50px;
  border: none;
  cursor: pointer;
  background: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-media-button:hover {
  transform: scale(1.1);
}

.social-media-button__image {
  width: auto;
  height: 50px;
}