.musicIdContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: var(--bca-gradient);
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  background: url('/assets/background-4.webp');
}

.videoWrapper {
  position: relative;
  width: 60%;
  height: 65vh;
  padding-top: 28.125%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.252);
  border-radius: 20px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
}

.link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-device-width: 1287px) {
  .videoWrapper {
    width: 80%;
  }
}

@media screen and (max-device-width: 817px) {
  .videoWrapper {
    height: 45vh;
  }
}

@media screen and (min-device-height: 836px) {
  .videoWrapper {
    height: 35vh;
  }
}

@media screen and (max-device-width: 589px) {
  .videoWrapper {
    width: 90%;
    height: 35vh;
  }

  .musicIdContainer {
    flex-direction: column;
    gap: 20px;
  }

  .linksContainer {
    margin-left: 0;
    flex-direction: row;
  }
}