.backButton {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 99;

  font-family: 'Clawmark';
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--white);
  text-decoration: none;

  display: inline-block;
  white-space: nowrap;

  background: var(--brown-accent-59);
  padding: 0.8rem 1.5rem;
  border-radius: 8px;

  text-shadow:
    0 0 4px var(--brown-accent),
    0 0 8px var(--brown-accent),
    0 0 12px var(--brown-accent);

  box-shadow:
    0 0 10px rgba(131, 130, 129, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.1);

  transition: all 0.3s ease;

  backdrop-filter: blur(5px);
}

@media (hover: hover) {
  .backButton:hover {
    background: var(--brown-accent-90);
    transform: translateY(-2px);
    box-shadow:
      0 4px 15px rgba(65, 29, 1, 0.7),
      inset 0 0 15px rgba(255, 255, 255, 0.2);

    text-shadow:
      0 0 6px var(--brown-accent),
      0 0 12px var(--brown-accent),
      0 0 18px var(--brown-accent);
  }
}

.backButton:focus {
  background: var(--brown-accent-90);
  transform: translateY(-2px);
  box-shadow:
    0 4px 15px rgba(65, 29, 1, 0.7),
    inset 0 0 15px rgba(255, 255, 255, 0.2);

  text-shadow:
    0 0 6px var(--brown-accent),
    0 0 12px var(--brown-accent),
    0 0 18px var(--brown-accent);
}

.backButton:active {
  transform: translateY(0);
  box-shadow:
    0 2px 8px rgba(65, 29, 1, 0.6),
    inset 0 0 8px rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1024px) {
  .backButton {
    display: none;
  }
}