@font-face {
  font-family: 'Clawmark';
  src: url('/fonts/Clawmark-OVo1p.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bca-gradient: linear-gradient(135deg, #032a7825, #6aaeb36d, #0ba6ff4b);
  --primary-color: #20283a;
  --secondary-color: #c8ecf7;
  --blue: #0ba6ff4b;
  --black: #000000;
  --white: #ffffff;
  --light: rgba(255, 255, 255, 0.5);
  --strong-light: rgba(255, 255, 255, 0.764);
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --primary-font-family: 'Clawmark';
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.15;
}

body {
  /* background: url('../assets/background.jpg') no-repeat; */
  background-size: cover;
  /* min-height: 100vh;
  background-attachment: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; */
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  color: var(--white);
}

a:hover {
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #a8b1b8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #444444be;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06638e;
}