:root {
  --bca-gradient: linear-gradient(135deg, #032a7825, #6aaeb36d, #0ba6ff4b);
  --bca-gradient-second: linear-gradient(20deg, #ff6f61, #fcd116, #0ba6ff);
  --primary-color: #20232a;
  --secondary-color: #c8ecf7;
  --success-color: #28a745;
  --btn-bca-color: linear-gradient(20deg, #20232a, #61dafb, #fcd116);
  --black: #000000;
  --white: #ffffff;
  --light: rgba(255, 255, 255, 0.5);
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url('../assets/background.jpg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
}