.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate3d(0, calc(var(--scrollTop) / 2.7), 0);
}

.layer-bottom {
  background-image: url('/assets/room-bottom.webp');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}