.site-footer {
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .footer-text {
    margin: 0;
    font-size: 16px;
  }
}

.social-list {
  display: flex;
  gap: 15px;
}