.site-navigation {
  font-size: 4rem;
  font-family: 'Clawmark';
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.site-navigation span {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.site-navigation span:hover {
  color: var(--secondary-color);
}