.coversPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--black);
  position: relative;
}

.leftSide {
  width: 40%;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}

.songListWrapper {
  width: 100%;
  max-width: 600px;
}

.rightSide {
  width: 60%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.videoBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.borderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
  pointer-events: none;
  min-height: 100vh;
}

@media screen and (max-width: 880px) {
  .leftSide {
    width: 50%;
    padding-right: 0;
  }

  .rightSide {
    padding: 0;
  }

  .videoContainer {
    transform: translateX(5%);
  }

  .borderImage {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 778px) {
  .videoContainer {
    transform: translateX(7%);
  }
}

@media screen and (max-width: 570px) {
  .videoContainer {
    transform: translateX(18%);
  }
}

@media screen and (max-width: 440px) {
  .videoContainer {
    transform: translateX(25%);
  }
}

@media screen and (max-width: 390px) {
  .videoContainer {
    transform: translateX(50%);
  }
}