.coversPage {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.leftSide {
  width: 40%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.songListWrapper {
  width: 100%;
  max-width: 600px;
}

.rightSide {
  width: 60%;
  position: relative;
  overflow: hidden;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.videoBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.borderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left center;
  pointer-events: none;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .coversPage {
    flex-direction: column;
  }

  .leftSide,
  .rightSide {
    width: 100%;
  }

  .leftSide {
    height: 50vh;
  }

  .rightSide {
    height: 50vh;
  }

  .videoContainer {
    height: 50vh;
  }

  .videoBorder {
    height: 50vh;
  }
}