.layers {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.layer {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.layers h1 {
  font-family: 'Clawmark';
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 1.5px #ffffff;
  font-size: 4rem;
  font-weight: 100;
  z-index: 100;
  text-shadow:
    0 0 4px #411d01,
    0 0 8px #411d01,
    0 0 12px #411d01;
  left: 27%;
}

.layers h2 {
  font-family: 'Clawmark';
  font-size: 2.5rem;
  position: absolute;
  color: #411d01;
  z-index: 100;
  right: 26%;
  top: 17%;
}

.layers h3 {
  font-family: 'Clawmark';
  font-size: 3rem;
  font-weight: 100;
  position: absolute;
  color: #ffffff;
  z-index: 103;
  left: 10%;
  top: 19%;
  rotate: -7deg;
}

.new-release-additional-text p {
  font-family: 'Clawmark';
  font-size: 3.5rem;
  font-weight: 100;
  position: absolute;
  color: #ffffff;
  z-index: 103;
  bottom: 30%;
  right: 5%;
  rotate: -7deg;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 10px black,
    1px 1px 8px black;
}

.layer-base {
  background-image: url('/assets/room-base.webp');
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layer-table {
  background-image: url('/assets/room-table.webp');
  transform: translate3d(0, calc(var(--scrollTop) / 2.7), 0);
}

.layer-bottom {
  background-image: url('/assets/room-bottom.webp');
}

.new-release-section {
  height: 100vh;
  width: 100vw;
}

.layer-top {
  background-image: url('/assets/bright-background-top.png');
  z-index: 101;
  background-position: top center;
  transform: translate3d(0, calc(var(--scrollTop) * -0.10), 0);
}

.layer-waves {
  background-image: url('/assets/bright-background.webp');
}